body {
  background: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;
  height: 100%;
  margin: 0 auto;
  padding: 1em 10%;
}

#Left {
  float: left;
  width: 65%;
}
#Right {
  float: right;
  width: 30%;
}

video, canvas {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.45);
  display: inline-block;
}
canvas {
  margin: 8px;
}
a:hover canvas {
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.55);
}

a {
  display: block;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
a, a:link, a:visited {
  opacity: 0.5;
}
a:hover, a:visited, a:active {
  opacity: 1;
}

label {
  font-size: 1.2em;
  display: block;
  float: left;
  width: 25%;
  text-align: right;
  margin: 8px 0;
  padding: 0;
}
input {
  display: block;
  float: right;
  width: 70%;
  margin: 8px 0;
  padding: 0;
}

button {
  font-weight: bold;
  margin-top: 8px;
}
button i {
  margin-right: 0.5em;
}